@model IEnumerable<Mordor.Models.Chapter>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<p>
    <a asp-action="Create" asp-route-PostId="@ViewBag.PostId">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Head)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Head)
                </td>
                <td>
                    @if (item.Text.Length > 40)
                    {
                        <p>@item.Text.Substring(0, 40) ...)</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Text)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
